header {
  width: 100vw;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-secundario);
  border-bottom: 2px solid #4c6ef5;
}

header > p {
  margin-left: 200px;
  font-size: var(--font-size-title4);
  color: var(--color-font-title);
}
