.modal__controller {
  width: 455px;
  height: 340px;
  border: 3px solid #4c6ef5;
  padding: 20px 30px;
  background-color: #212529;
  color: #adb5bd;
}

#modal__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#modal__top > h5 {
  color: #f8f9fa;
  font-size: 20px;
}

#modal__top > button {
  font-size: 20px;
  background-color: #343a40;
  color: #adb5bd;
  padding: 5px 15px;
  border: 1px solid black;
}

#modal__top > button:hover {
  background-color: rgb(175, 68, 68);
  border: 1px solid black;
  color: black;
}

.modal__container {
  width: 455px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal__container > p {
  line-height: 140%;
  text-align: justify;
}

.modal__container > input {
  background-color: #191c1f;
  font-size: 20px;
  color: #adb5bd;
  width: 460px;
  height: 50px;
  border: none;
}

.modal__container > button {
  background-color: #4c6ef5;
  width: 460px;
  height: 50px;
  font-size: 20px;
  color: #f8f9fa;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}
