#section__first {
  height: 125vh;
  gap: 40px;
  display: flex;
  flex-direction: row;
}

#section__left {
  width: 50vw;
  display: flex;
  padding-top: 70px;
  padding-left: 40px;
  justify-content: center;
}

#section__left-inside {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 32vw;
  gap: 33px;
  position: sticky;
  top: 95px;
  height: 200px;
  padding-bottom: 120px;
}

#section__left-inside > h2 {
  font-size: var(--font-size-title2);
}

#section__left-inside > p {
  text-align: justify;
}

#section__right {
  width: 50vw;
  padding-top: 70px;
  justify-content: center;
}

#section__right-inside > span {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 32vw;
  margin-bottom: 30px;
}

#section__right-inside > span > h3 {
  font-size: var(--font-size-title3);
  text-align: center;
}

#section__right-inside > span > p {
  text-align: justify;
}
