body {
  font-family: var(--font-family);
  color: var(--color-font-paragraph);
  font-weight: 500;
}

main {
  background-color: var(--background-color-principal);
}

#first__container {
  width: 100%;
  height: 75vh;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#first__container > h1 {
  font-size: var(--font-size-title1);
}

#first__container > p {
  width: 50vw;
  text-align: center;
  line-height: 140%;
}

#first__container > h1 > span {
  color: #4c6ef5;
}

#second__container {
  width: 100%;
  height: 37vh;
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color-secundario);
  text-align: justify;
}

#second__container > h2 {
  font-size: var(--font-size-title3);
  width: 240px;
  margin-right: 20px;
}

#second__container > span > p {
  width: 32vw;
}
